body[data-theme="light"] {
	--text-color-primary: #212529;
	--text-color-secondary: #343a40;
	--text-color-tertiary: #6c757d;
	--text-color-muted: #6c757d;

	--bg-color-primary: #ffffff;
	--bg-color-secondary: #f9fafb;
	--bg-color-tertiary: #f1f1f1;

	--bg-card-primary: #ffffff;

	--border-color-primary: #e6e6e6;

	--focus-color-primary: #eff0f3;

	--bg-color-toggle: #1e90ff;
}

body[data-theme="dark"] {
	--text-color-primary: #ffffff;
	--text-color-secondary: #d4d4d4;
	--text-color-tertiary: #a3a3a3;
	--text-color-muted: #999;

	--bg-color-primary: #171717;
	--bg-color-secondary: #181818;
	--bg-color-tertiary: #252a37;

	--bg-card-primary: #1b1b1b;

	--border-color-primary: #444444;

	--focus-color-primary: #262626;

	--bg-color-toggle: #404040;
}

body {
	background: var(--bg-color-primary) !important;
}

.text-color-primary {
	color: var(--text-color-primary) !important;
}

.text-color-secondary {
	color: var(--text-color-secondary) !important;
}

.text-color-tertiary {
	color: var(--text-color-tertiary) !important;
}

.text-color-muted {
	color: var(--text-color-muted) !important;
}

.bg-color-primary {
	background-color: var(--bg-color-primary) !important;
}

.bg-color-secondary {
	background-color: var(--bg-color-secondary) !important;
}

.bg-color-tertiary {
	background-color: var(--bg-color-tertiary) !important;
}

.bg-card-primary {
	background-color: var(--bg-card-primary) !important;
}

.table-bordered-primary {
	border-color: var(--border-color-primary) !important;
}

.border-color-primary {
	border: 1px solid var(--border-color-primary) !important;
}

.border-start-primary {
	border-left: 1px solid var(--border-color-primary) !important;
}

.border-top-primary {
	border-top: 1px solid var(--border-color-primary) !important;
}

.border-bottom-primary {
	border-bottom: 1px solid var(--border-color-primary) !important;
}
