@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fs-14 {
	font-size: 14px;
}

.fs-15 {
	font-size: 15px;
}

/* Very Small devices (Max width 575.98px) */
@media (max-width: 575.98px) {
	.carousel-item img {
		height: 300px !important;
	}
	.agenda img {
		width: 550px !important;
		height: 200px !important;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.carousel-item img {
		height: 400px !important;
	}
	.agenda img {
		width: 350px !important;
		height: 150px !important;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.carousel-item img {
		height: 500px !important;
	}
	.agenda img {
		width: 250px !important;
		height: 170px !important;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.agenda img {
		width: 250px !important;
		height: 150px !important;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Caarousel Image Zoom Effect */
@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(1, 1);
	}
	to {
		-webkit-transform: scale(1.2, 1.2);
	}
}

@keyframes zoom {
	from {
		transform: scale(1, 1);
	}
	to {
		transform: scale(1.2, 1.2);
	}
}

.carousel-zoom {
	-webkit-animation: zoom 20s;
	animation: zoom 20s;
}

/* Swiper Blog Post  */
.swiper-custom {
	padding: 14px 14px 50px 14px !important;
}

/* Swiper Pembangunan */
.swiper-pembangunan {
	border-radius: 4px;
}

.swiper-pembangunan .swiper-button-next::after,
.swiper-pembangunan .swiper-button-prev::after {
	font-size: 14px;
	font-weight: 600;
	background-color: #00000063;
	padding: 8px 12px;
	border-radius: 50%;
	color: #fff;
}

.swiper-pembangunan .swiper-button-next:hover::after,
.swiper-pembangunan .swiper-button-prev:hover::after {
	background-color: #000000b6 !important;
	transition: background-color 0.2s ease-in;
}

/* Progress Bar on Top of Page  */
#nprogress .bar {
	background: #0d6efd !important;
}

#nprogress .spinner-icon {
	display: none;
}

/* Product Image hover zoom effect */
.card-img-hover-zoom img {
	transition: transform 0.8s ease !important;
}
.card-img-hover-zoom:hover img {
	transform: scale(1.1) !important;
}

.popover-arrow {
	display: none !important;
}
